<!DOCTYPE html>
<html manifest="appcache.manifest">
   <head>
      <title>Cobi Spotify</title>
      <link rel="stylesheet" type="text/css" href="style.css" />
   </head>
   <body>
      <div class="container">
         <div id="experience">
            <div class="login-container" id="js-login-container">
               <button class="btn btn--login" id="js-btn-login">Login with <i class="fa fa-spotify fa-1x"></i> </button>
            </div>
            <div id="js-main-container" style="display:none;">
               <div class="main-wrapper">
                  <img class="now-playing__img">
                  <div class="now-playing__side" id="side">
                    <div class="now-playing__name"></div>
                    <div class="now-playing__artist"></div>
                    <div class="now-playing__status"></div>
                    <div class="progress">
                      <div class="progress__bar"></div>
                    </div>
                  </div>
               </div>
               <div class="background"></div>
            </div>
         </div>
         <div id="edit">
            <div class="login-container" >
               <button class="btn btn--logout disabled" id="js-btn-logout">Logout</button>
            </div>
         </div>
      </div>
      <script>
         var host = '<%= host %>';
      </script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/fetch/2.0.3/fetch.min.js"></script>
      <script src="https://cdn.cobi.bike/cobi.js/0.44.0/cobi.js"></script>
      <script src="socket.io.js"></script>
      <script src="spotify-player.js"></script>
      <script src="websocket-spotify-player.js"></script>
      <script src="script.js"></script>
   </body>
</html>
